.imageset.site_logo {
	background-image: url("/images/divers/logo.png");
	padding-left: 250px;
	padding-top: 100px;
}
#wrap {
	max-width: 94% !important;	
}

@media only screen and (max-width:700px), @media only screen and (max-device-width:700px) {
	#wrap {
		max-width: 100% !important;	
	}
}

#publiciteAdsence {
	text-align: center;
}