<li data-last-responsive="true">
	<a href="/html/lan/" role="menuitem" title="Les LAN organisées par l'association">
		<i class="icon fa-sitemap fa-fw" aria-hidden="true"></i><span>Nos LAN</span>
	</a>
</li>
<li data-last-responsive="true">
	<a href="/html/prono-foot/" role="menuitem" title="Prono-foot, venez pronostiquer les matchs de foot">
		<i class="icon fa-futbol-o fa-fw" aria-hidden="true"></i><span>Pronofoot</span>
	</a>
</li>
<li data-last-responsive="true">
	<a href="/html/news/" role="menuitem" title="Voir les dernières actualités">
		<i class="icon fa-newspaper-o fa-fw" aria-hidden="true"></i><span>Actualités</span>
	</a>
</li>
<li data-last-responsive="true">
	<a href="/html/ce-jour-la.php" role="menuitem">
		<i class="icon fa-history fa-fw" aria-hidden="true"></i><span>Grotesque™</span>
	</a>
</li>