<!-- IF DISPLAY_PUB -->
<div id="publiciteAdsence">
	<!-- IF IS_MOBILE -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4330460271648457"
	     data-ad-slot="5258735322"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<!-- ELSE -->
	<div id="3957-28">
		<script src="http://ads.themoneytizer.com/s/gen.js?type=28"></script>
		<script src="http://ads.themoneytizer.com/s/requestform.js?siteId=3957&formatId=28" ></script>
	</div>
	<!-- ENDIF -->
</div>
<!-- ENDIF -->
